{% extends 'base.html.twig' %}

{% block title %}{{ 'inventory.deed.create.tab.title' | trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-10">
                            <h1>{{ 'inventory.deed.create.main.title' | trans }}</h1>
                            <p>{{ 'inventory.deed.create.main.description' | trans | raw }}</p>
                        </div>
                        {% if canSeeAll %}
                            <div class="col-2">
                                <a href="{{ path('inventory_deed_inventory_deed_list') }}"
                                   class="btn btn-block btn-secondary rounded fa fa-list"></a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% if canCreate %}
            <div class="col-12">
                <div class="panel">
                    <div class="panel-content">
                        <form class="row" action="{{ path('inventory_deed_inventory_deed_create') }}" method="post">
                            <div class="col-3">
                                <span class="label-text col-form-label">{{ 'general.from.title' | trans }}</span>
                                <select name="deedFrom" class="form-control">
                                    <option value="none">None</option>

                                    <option disabled>Inventories</option>

                                    {% for inventory in inventories %}
                                        <option value="inventory_{{ inventory.inventoryId }}">{{ inventory.inventoryName }}</option>
                                    {% endfor %}

                                    <option disabled>Shelves</option>

                                    {% for shelve in shelves %}
                                        <option value="shelve_{{ shelve.shelveId }}">{{ shelve.shelveName }}</option>
                                    {% endfor %}

                                </select>
                            </div>
                            <div class="col-3">
                                <span class="label-text col-form-label">{{ 'general.to.title' | trans }}</span>
                                <select name="deedTo" class="form-control">
                                    <option disabled>Inventories</option>

                                    {% for inventory in inventories %}
                                        <option value="inventory_{{ inventory.inventoryId }}">{{ inventory.inventoryName }}</option>
                                    {% endfor %}

                                    <option disabled>Shelves</option>

                                    {% for shelve in shelves %}
                                        <option value="shelve_{{ shelve.shelveId }}">{{ shelve.shelveName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-4">
                                <span class="label-text col-form-label">{{ 'general.name.title' | trans }}</span>
                                <input type="text" value="{{ deedModel.inventoryDeedName }}" name="inventoryDeedName"
                                       class="form-control" placeholder="Deed Name">
                            </div>
                            <div class="col-2">
                                <button type="submit"
                                        class="btn btn-block btn-dark rounded fa fa-save mt-5"></button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        {% endif %}
    </div>
{% endblock %}
