{% extends 'base.html.twig' %}

{% block title %}{{ 'repository.color.create.tab.title' | trans }}{% endblock %}

{% block body %}
    <div class="row">
        {% if canCreate %}
            <div class="col-12">
                <div class="panel">
                    <div class="panel-content">
                        <div class="row">
                            <div class="col-10">
                                <h3>{{ 'repository.color.create.main.title' | trans }}</h3>
                                <p>{{ 'repository.color.create.main.description' | trans }}</p>
                            </div>
                            <div class="col-2">
                                <form class="row"
                                      action="{{ path('repository_item_color_repository_item_color_create') }}"
                                      method="post">
                                    <div class="col-12">
                                        <input type="text" placeholder="{{ 'general.name.title' | trans }}"
                                               name="itemColorName"
                                               class="form-control mb-3">
                                        <input type="color" placeholder="Color name"
                                               name="itemColorHex"
                                               class="form-control mb-3">
                                        <button type="submit"
                                                class="btn btn-block rounded btn-dark fa fa-save"></button>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        {% endif %}

        {% if canSeeAll %}
            <div class="col-12">
                <div class="panel">
                    <div class="panel-content">
                        <div class="form-group row">
                            <div class="col-4"></div>
                            <div class="col-md-4">
                                {#<input type="text" placeholder="Search" name="text"#}
                                {#class="form-control">#}
                            </div>
                            <div class="col-4"></div>
                        </div>
                        <!-- Records List Start -->
                        <div class="records--list">
                            <table id="usersRoleList">
                                <thead>
                                <tr>
                                    <th>{{ 'general.name.title' | trans }}</th>
                                    <th>{{ 'general.color.hex.title' | trans }}</th>
                                    <th>{{ 'general.status.title' | trans }}</th>
                                    <th>{{ 'general.action.title' | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for color in colors %}
                                    <tr>
                                        <td>
                                            {{ color.itemColorName }}
                                        </td>
                                        <td>
                                        <span class="label rounded"
                                              style="background-color: {{ color.itemColorHex }} !important;">
                                              
                                        </span>
                                        </td>
                                        <td>
                                        <span class="label rounded"
                                              style="background-color: {{ color.itemColorStatus.statusColor }} !important;">
                                            {{ color.itemColorStatus.name }}
                                        </span>
                                        </td>
                                        <td>
                                            {% if canEdit %}
                                                <a href="{{ path('repository_item_color_repository_item_color_edit' , {id:color.itemColorID}) }}"
                                                   class="fa fa-edit"></a>
                                            {% endif %}
                                            {% if canChangeStatus %}
                                                <a href="{{ path('repository_item_color_repository_item_color_status' , {id:color.itemColorID , machine_name:color.itemColorStatus.machineName}) }}"
                                                   class="{{ (color.itemColorStatus.machineName == 'deactive')? 'fa fa-play text-green' : 'fa fa-ban text-red' }}"></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- Records List End -->
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
