{% extends 'base.html.twig' %}

{% block title %}{{ 'delivery.dispatch.edit.tab.title' | trans }}{% endblock %}

{% block body %}
    <div class="row">
        {% if dispatchModel.dispatchOrder %}
            <div class="col-12">
                <div class="panel">
                    <div class="invoice">
                        <div class="invoice--header">
                            <div class="invoice--logo">
                                <img src="../../images/invoice/logo.png" alt="">
                            </div>

                            <div class="invoice--address">
                                <h5 class="h5">{{ 'general.dispatch.from.title' | trans }}</h5>
                                <p>{{ 'general.dispatch.from.description' | trans }}</p>
                            </div>
                        </div>
                        <div class="invoice--billing">
                            <div class="invoice--address">
                                <h5 class="h5">{{ dispatchModel.dispatchOrder.orderOwnerName }}</h5>

                                <p><strong>{{ 'general.serial.title' | trans }}
                                        : </strong>{{ dispatchModel.dispatchOrder.orderSerial }}</p>
                                <p><strong>{{ 'general.order.name.title' | trans }}
                                        : </strong>{{ dispatchModel.dispatchOrder.orderName }}</p>
                                <p><strong>{{ 'general.phone.title' | trans }}
                                        : </strong>{{ dispatchModel.dispatchOrder.orderOwnerPhone }}</p>
                            </div>
                            <div class="invoice--info">
                                <h5 class="h5">
                                    <span>{{ 'general.invoice.serial.title' | trans }}
                                        :</span> {{ dispatchModel.dispatchOrder.orderInvoiceSerial }}</h5>
                                <p>{{ 'general.invoice.date.title' | trans }}:
                                    <strong>{{ dispatchModel.dispatchOrder.orderInvoiceCreateDate }}</strong></p>
                            </div>
                        </div>

                        <div class="invoice--order">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">{{ 'general.product.name.title' | trans }}</th>
                                    <th scope="col">{{ 'general.guarantee.title' | trans }}</th>
                                    <th scope="col">{{ 'general.color.title' | trans }}</th>
                                    <th scope="col">{{ 'general.supplier.title' | trans }}</th>
                                    <th scope="col">{{ 'general.serial.quantity.title' | trans }}</th>
                                    <th scope="col">{{ 'general.current.price.title' | trans }}</th>
                                    <th scope="col">{{ 'general.discount.price.title' | trans }}</th>
                                    <th scope="col">{{ 'general.total.price.title' | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if dispatchModel.dispatchOrder.orderProducts %}
                                    {% for product in dispatchModel.dispatchOrder.orderProducts %}
                                        <tr>
                                            <td>{{ product.productItemName }}</td>
                                            <td>{{ product.productGuaranteeName }}</td>
                                            <td>
                                                {{ product.productColorName }}
                                                <span class="label rounded"
                                                      style="background-color: {{ product.productColorHex }};">  </span>
                                            </td>
                                            <td>{{ product.productSupplierName }}</td>
                                            <td>{{ product.productSerial }}
                                                / {{ product.productQuantity }}</td>
                                            <td>{{ product.productCurrentPrice }}</td>
                                            <td>{{ product.productDiscountPrice }}</td>
                                            <td>{{ product.productTotalPrice }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                <tr>
                                    <td colspan="7"><strong>{{ 'general.vat.title' | trans }}</strong></td>
                                    <td>{{ dispatchModel.dispatchOrder.orderVatPrice }}</td>
                                </tr>
                                <tr>
                                    <td colspan="7"><strong>{{ 'general.total.price.title' | trans }}</strong></td>
                                    <td><strong>{{ dispatchModel.dispatchOrder.orderTotalPrice }}</strong></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="invoice--footer">
                            <ul class="list-unstyled">
                                <li class="mb-3"><strong>{{ 'general.description.title' | trans }}</strong>
                                    <ul class="list-unstyled">
                                        <li>{{ dispatchModel.dispatchOrder.orderDescription }}</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        {% endif %}

        {% if dispatchModel.dispatchStatus.dispatchStatusMachineName != 'waiting_for_delivery_person' %}
            {% if canAddDeliveryMethod %}
                <div class="col-3">
                    <div class="panel">
                        <div class="panel-heading">
                            <strong>{{ 'general.delivery.method.title' | trans }}</strong>
                        </div>
                        <div class="panel-content">
                            <form class="row"
                                  action="{{ path('delivery_dispatch_add_delivery_method' , { dispatch_id:dispatchModel.dispatchId }) }}"
                                  method="post">
                                <div class="col-12">
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <span class="label-text col-form-label">{{ 'general.size.title' | trans }}</span>
                                            <select name="deliveryMethodId" class="form-control">
                                                {% for deliveryMethod in deliveryMethods %}
                                                    <option value="{{ deliveryMethod.deliveryMethodId }}" {{ (deliveryMethod.deliveryMethodId == dispatchModel.dispatchDeliveryMethodId) ? 'selected' : '' }}>
                                                        {{ deliveryMethod.deliveryMethodName }}
                                                        | {{ deliveryMethod.deliveryMethodCost }}
                                                        | {{ deliveryMethod.deliveryMethodTypeName }}
                                                    </option>
                                                {% endfor %}

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <button type="submit"
                                                class="btn btn-block rounded btn-dark fa fa-save"></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if canAddLocation %}
                <div class="col-9">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-4 text-left">
                                    <strong>{{ 'general.address.title' | trans }}</strong>
                                </div>
                                <div class="col-4"></div>
                                <div class="col-4 text-right">
                                    <strong>{{ dispatchModel.dispatchDeliveryCost }}</strong>
                                </div>
                            </div>


                        </div>
                        <div class="panel-content">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">{{ 'general.address.title' | trans }}</th>
                                    <th scope="col">{{ 'general.postal.code.title' | trans }}</th>
                                    <th scope="col">{{ 'general.contact.person.title' | trans }}</th>
                                    <th scope="col">{{ 'general.contact.person.mobile.title' | trans }}</th>
                                    <th scope="col">{{ 'general.add.address.title' | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for ownerLocation in ownerLocations %}
                                    <tr {{ (ownerLocation.locationId == dispatchModel.dispatchToLocationId) ? 'bg-success' : '' }}>
                                        <td>{{ ownerLocation.address }}</td>
                                        <td>{{ ownerLocation.postalCode }}</td>
                                        <td>{{ ownerLocation.locationContactPersonLastName }}</td>
                                        <td>{{ ownerLocation.locationContactPersonMobile }}</td>
                                        <td>
                                            {% if ownerLocation.locationId != dispatchModel.dispatchToLocationId %}
                                                <a href="{{ path('delivery_dispatch_add_location_to_dispatch' , {dispatch_id:dispatchModel.dispatchId , location_id:ownerLocation.locationId }) }}"
                                                   class="fa fa-plus"></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if availableQueues %}
                {% if canAddQueue %}
                    <form action="{{ path('delivery_dispatch_add_queue' , {dispatch_id:dispatchModel.dispatchId}) }}"
                          class="col-12" method="post">
                        <div class="panel">
                            <div class="panel-heading">
                                <strong>
                                    {{ 'general.available.days.title' | trans }}
                                </strong>
                            </div>
                            <div class="panel-content">
                                <div class="row">
                                    {% for day in availableQueues %}
                                        <div class="col-6">
                                            <div class="panel shadow">
                                                <div class="panel-heading">
                                                    <strong>{{ day.weekDayName }} | {{ day.weekDayDate }}</strong></div>
                                                <input type="hidden" name="queueDueDate" value="{{ day.weekDayDate }}">
                                                <div class="panel-content">
                                                    <table class="table table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th scope="col">{{ 'general.from.time.title' | trans }}</th>
                                                            <th scope="col">{{ 'general.to.time.title' | trans }}</th>
                                                            <th scope="col">{{ 'general.capacity.title' | trans }}</th>
                                                            <th scope="col">{{ 'general.dispatches.title' | trans }}</th>
                                                            <th scope="col">{{ 'general.action.title' | trans }}</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>

                                                        {% for queue in day.weekDayQueues %}
                                                            <tr>
                                                                <td>{{ queue.queueFrom }}</td>
                                                                <td>{{ queue.queueTo }}</td>
                                                                <td>{{ queue.queueCapacity }}</td>
                                                                <td>{{ queue.dispatchesCount }}</td>
                                                                <td>
                                                                    <label class="form-radio">
                                                                        <input type="radio" name="queueId"
                                                                               value="{{ queue.queueId }}" {{ (dispatchModel.dispatchDeliveryQueueId == queue.queueId) ? 'checked' : '' }}
                                                                               class="form-radio-input">
                                                                        <span class="form-radio-label"></span>
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-4"></div>
                                            <div class="col-4 mt-5">
                                                <button type="submit"
                                                        class="fa fa-save btn btn-dark btn-block rounded"></button>
                                            </div>
                                            <div class="col-4"></div>
                                        </div>
                                        {% if canConfirmQueue %}
                                            <div class="row">
                                                <div class="col-4"></div>
                                                <div class="col-4 mt-5">
                                                    <div class="panel">
                                                        <div class="weather--panel text-white bg-darker">
                                                            <div class="weather--title">
                                                                <i class="fa fa-exclamation"></i>
                                                                <span>
                                                            {{ 'general.confirm.title' | trans }}
                                                        </span>
                                                            </div>
                                                            <div class="weather--info">
                                                                <a href="{{ path('delivery_dispatch_confirm_queue' , {dispatch_id:dispatchModel.dispatchId }) }}"
                                                                   class="fa fa-check text-green"></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4"></div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                {% endif %}
            {% endif %}
        {% endif %}

        {% if dispatchModel.dispatchStatus.dispatchStatusMachineName == 'waiting_for_delivery_person' %}
            <div class="col-2">
                <a href="{{ path('delivery_dispatch_rethink_confirm_queue', {dispatch_id:dispatchModel.dispatchId}) }}"
                   class="btn btn-block rounded"
                   style="background-color: white"> {{ 'general.back.to.selection.title' | trans }} </a>
            </div>
            <div class="col-2">
                <div class="panel">
                    <div class="panel-heading">
                        <strong>
                            {{ 'general.delivery.method.title' | trans }}
                        </strong>
                    </div>
                    <div class="panel-content">
                        <div class="col-12">
                            <div class="form-group row">
                                <div class="col-md-12 text-center">
                                    <h4>{{ dispatchModel.dispatchDeliveryMethodName }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="panel">
                    <div class="panel-heading">
                        <strong>
                            {{ 'general.queue.title' | trans }}
                        </strong>
                    </div>
                    <div class="panel-content">
                        <div class="col-12">
                            <div class="form-group row">
                                <div class="col-md-12 text-center">
                                    <h4>{{ dispatchModel.dispatchDeliveryQueueName }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="panel">
                    <div class="panel-heading">
                        <strong>
                            {{ 'general.address.title' | trans }}
                        </strong>
                    </div>
                    <div class="panel-content">
                        <div class="col-12">
                            <div class="form-group row">
                                <div class="col-md-12 text-center">
                                    <h4>{{ dispatchModel.dispatchAddress }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="panel">
                    <div class="panel-heading">
                        <strong>
                            {{ 'general.delivery.persons.title' | trans }}
                        </strong>
                    </div>
                    <div class="panel-content">
                        <div class="form-group row">
                            <div class="col-4"></div>
                            <div class="col-md-4">
                                <input type="text" placeholder="{{ 'general.search.title' | trans }}" name="text"
                                       class="form-control">
                            </div>
                            <div class="col-4"></div>
                        </div>
                        <!-- Records List Start -->
                        <div class="records--list">
                            <table id="table10">
                                <thead>
                                <tr>
                                    <th>{{ 'general.id.title' | trans }}</th>
                                    <th>{{ 'general.name.title' | trans }}</th>
                                    <th>{{ 'general.mobile.title' | trans }}</th>
                                    <th>{{ 'general.dispatches.title' | trans }}</th>
                                    <th>{{ 'general.add.title' | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {#{{ dump(dispatchModel) }}#}
                                {% for deliveryPerson in deliveryPersons %}
                                    <tr>
                                        <td>{{ deliveryPerson.deliveryPersonId }}</td>
                                        <td>{{ deliveryPerson.deliveryPersonFirstName }} {{ deliveryPerson.deliveryPersonLastName }}</td>
                                        <td>{{ deliveryPerson.deliveryPersonMobile }}</td>
                                        <td>{{ deliveryPerson.deliveryPersonDispatchCount }}</td>
                                        <td>
                                            {% if dispatchModel.dispatchDeliveryPersonId != deliveryPerson.deliveryPersonId %}
                                                <a href="{{ path('delivery_dispatch_add_delivery_person_to_dispatch' , {dispatch_id:dispatchModel.dispatchId , delivery_person_id:deliveryPerson.deliveryPersonId}) }}"
                                                   class="fa fa-plus"></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- Records List End -->
                    </div>
                </div>
            </div>
        {% endif %}


        {#<div class="col-12">#}
        {#<div class="panel">#}
        {#<div class="panel-heading">#}
        {#<strong>Dispatch information</strong>#}
        {#</div>#}
        {#<div class="panel-content">#}
        {#<table class="table table-striped">#}
        {#<thead>#}
        {#<tr>#}
        {#<th>Dispatch Serial</th>#}
        {#<th>Dispatched Date</th>#}
        {#<th>Delivery Person</th>#}
        {#<th>Dispatch Price</th>#}
        {#<th>Delivery Cost</th>#}
        {#<th>Delivery Due Date</th>#}
        {#<th>Delivery Method</th>#}
        {#<th>Delivery Queue</th>#}
        {#<th>Size</th>#}
        {#<th>Owner</th>#}
        {#<th>Delivery Status</th>#}
        {#<th>Price Status</th>#}
        {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#<tr>#}
        {#<td>{{ dispatchModel.dispatchSerial }}</td>#}
        {#<td>{{ dispatchModel.dispatchCreateDate }}</td>#}
        {#<td>{{ dispatchModel.dispatchDeliveryPersonName }}</td>#}
        {#<td>{{ dispatchModel.dispatchTotalPrice }}</td>#}
        {#<td>{{ dispatchModel.dispatchDeliveryCost }}</td>#}
        {#<td>deadline</td>#}
        {#<td>{{ dispatchModel.dispatchDeliveryMethodName }}</td>#}
        {#<td>{{ dispatchModel.dispatchDeliveryQueueName }}</td>#}
        {#<td>Small</td>#}
        {#<td>owner name</td>#}
        {#<td>#}
        {#<span class="label rounded"#}
        {#style="background-color: {{ dispatchModel.dispatchDeliveryStatus.dispatchDeliveryStatusColor }}">{{ dispatchModel.dispatchDeliveryStatus.dispatchDeliveryStatusName }}</span>#}
        {#</td>#}
        {#<td>#}
        {#<span class="label rounded"#}
        {#style="background-color: {{ dispatchModel.dispatchPriceStatus.dispatchPriceColor }}">{{ dispatchModel.dispatchPriceStatus.dispatchPriceName }}</span>#}
        {#</td>#}
        {#</tr>#}
        {#</tbody>#}
        {#</table>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}


    </div>
{% endblock %}
