{% extends 'base.html.twig' %}

{% block title %}{{ 'delivery.dispatch.list.tab.title' | trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-12">
                            <h1>{{ 'delivery.dispatch.list.main.title' | trans }}</h1>
                            <p>{{ 'delivery.dispatch.list.main.description' | trans }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#<div class="col-12">#}
        {#<div class="panel">#}
        {#<div class="panel-heading">#}
        {#<strong>#}
        {#Dispatch Delivery Status#}
        {#</strong>#}
        {#</div>#}
        {#<div class="panel-content">#}
        {#<div class="row">#}
        {#<div class="col-4">#}
        {#<div class="panel">#}
        {#<div class="weather--panel text-white bg-green">#}
        {#<div class="weather--title">#}
        {#<i class="fa fa-exclamation"></i>#}
        {#<span>Delivered On Time</span>#}
        {#</div>#}
        {#<div class="weather--info">#}
        {#<span>25</span>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="col-4">#}
        {#<div class="panel">#}
        {#<div class="weather--panel text-white bg-info">#}
        {#<div class="weather--title">#}
        {#<i class="fa fa-exclamation"></i>#}
        {#<span>Delivered With Delay</span>#}
        {#</div>#}

        {#<div class="weather--info">#}
        {#<span>25</span>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="col-4">#}
        {#<div class="panel">#}
        {#<div class="weather--panel text-white bg-red">#}
        {#<div class="weather--title">#}
        {#<i class="fa fa-exclamation"></i>#}
        {#<span>Rejected</span>#}
        {#</div>#}

        {#<div class="weather--info">#}
        {#<span>25</span>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="col-4">#}
        {#<div class="panel">#}
        {#<div class="weather--panel text-white bg-secondary">#}
        {#<div class="weather--title">#}
        {#<i class="fa fa-exclamation"></i>#}
        {#<span>On The Way</span>#}
        {#</div>#}

        {#<div class="weather--info">#}
        {#<span>25</span>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="col-4">#}
        {#<div class="panel">#}
        {#<div class="weather--panel text-white bg-orange">#}
        {#<div class="weather--title">#}
        {#<i class="fa fa-exclamation"></i>#}
        {#<span>Delayed</span>#}
        {#</div>#}

        {#<div class="weather--info">#}
        {#<span>25</span>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="col-4">#}
        {#<div class="panel">#}
        {#<div class="weather--panel text-white bg-darker">#}
        {#<div class="weather--title">#}
        {#<i class="fa fa-exclamation"></i>#}
        {#<span>Canceled</span>#}
        {#</div>#}

        {#<div class="weather--info">#}
        {#<span>25</span>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}

        {#</div>#}
        {#</div>#}
        {#</div>#}

        {% if canSeeAll %}
            <div class="col-12">
                <div class="panel">
                    <div class="panel-content">
                        <div class="form-group row">
                            <div class="col-4"></div>
                            <div class="col-md-4">
                                <input type="text" placeholder="{{ 'general.search.title' | trans }}" name="text"
                                       class="form-control">
                            </div>
                            <div class="col-4"></div>
                        </div>
                        <!-- Records List Start -->
                        <div class="records--list">
                            <table id="usersRoleList">
                                <thead>
                                <tr>

                                    <th>{{ 'general.create.date.title' | trans }}</th>
                                    <th>{{ 'general.delivery.method.title' | trans }}</th>
                                    <th>{{ 'general.queue.title' | trans }}</th>
                                    <th>{{ 'general.address.title' | trans }}</th>
                                    <th>{{ 'general.total.price.title' | trans }}</th>
                                    <th>{{ 'general.delivery.status.title' | trans }}</th>
                                    <th>{{ 'general.pay.status.title' | trans }}</th>
                                    {% if canEdit %}
                                        <th>{{ 'general.action.title' | trans }}</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>

                                {% for dispatch in dispatches %}
                                    <tr>
                                        {#{{ dump(dispatch) }}#}
                                        <td>{{ dispatch.dispatchCreateDate }}</td>
                                        <td>{{ dispatch.dispatchDeliveryMethodName }}</td>
                                        <td>{{ dispatch.dispatchDeliveryQueueName }}</td>
                                        <td>{{ dispatch.dispatchAddress }}</td>
                                        <td>{{ dispatch.dispatchTotalPrice }}</td>
                                        <td>
                                        <span class="label rounded"
                                              style="background-color: {{ dispatch.dispatchDeliveryStatus.dispatchDeliveryStatusColor }}">{{ dispatch.dispatchDeliveryStatus.dispatchDeliveryStatusName }}</span>
                                        </td>
                                        <td>
                                        <span class="label rounded"
                                              style="background-color: {{ dispatch.dispatchPriceStatus.dispatchPriceColor }}">{{ dispatch.dispatchPriceStatus.dispatchPriceName }}</span>
                                        </td>
                                        {% if canEdit %}
                                            <td>
                                                <a href="{{ path('delivery_dispatch_edit' , {id:dispatch.dispatchId}) }}"
                                                   class="fa fa-edit"></a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                        <!-- Records List End -->
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
