{% extends 'base.html.twig' %}

{% block title %}{{ 'accounting.installment.list.tab.title' | trans }}{% endblock %}

{% block body %}
    {% if userName %}


        {#Analytics Boxes - Admin#}
        {% if canSeeAllUsers %}
            <div class="row mt-5">

                <div class="col-sm-6 col-xl-3">
                    <div class="card">
                        <div class="card-heading p-4">
                            <div class="mini-stat-icon float-right">
                                <i class="mdi mdi-cube-outline bg-primary  text-white"></i>
                            </div>
                            <div>
                                <h5 class="font-16">{{ 'accounting.installment.admin.analysis.all.requests.title' | trans }}</h5>
                            </div>
                            <h3 class="mt-4"><span style="font-size: 40px !important;">{{ allRequests }}</span></h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-3">
                    <div class="card">
                        <div class="card-heading p-4">
                            <div class="mini-stat-icon float-right">
                                <i class="mdi mdi-briefcase-check bg-success text-white"></i>
                            </div>
                            <div>
                                <h5 class="font-16">{{ 'accounting.installment.admin.analysis.accepted.requests.title' | trans }}</h5>
                            </div>
                            <h3 class="mt-4"><span style="font-size: 40px !important;">{{ allAcceptedRequests }}</span>
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-3">
                    <div class="card">
                        <div class="card-heading p-4">
                            <div class="mini-stat-icon float-right">
                                <i class="mdi mdi-buffer bg-danger text-white"></i>
                            </div>
                            <div>
                                <h5 class="font-16">{{ 'accounting.installment.admin.analysis.rejected.requests.title' | trans }}</h5>
                            </div>
                            <h3 class="mt-4"><span style="font-size: 40px !important;">{{ allRejectedRequests }}</span>
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-3">
                    <div class="card">
                        <div class="card-heading p-4">
                            <div class="mini-stat-icon float-right">
                                <i class="mdi mdi-tag-text-outline bg-warning text-white"></i>
                            </div>
                            <div>
                                <h5 class="font-16">{{ 'accounting.installment.admin.analysis.waiting.requests.title' | trans }}</h5>
                            </div>
                            <h3 class="mt-4"><span style="font-size: 40px !important;">{{ allWaitingRequests }}</span>
                            </h3>
                        </div>
                    </div>
                </div>

            </div>
        {% endif %}
        {#Analytics Boxes - Admin#}



        {#Buttons and Modals#}
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-4">
                    <div class="alert alert-danger alert-dismissible fade {{ (app.session.flashBag.peek('f')) ? 'show' : '' }}" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        {% for message in app.session.flashBag.get('f') %}
                            {{ message }}
                        {% endfor %}
                    </div>
                    <div class="alert alert-success alert-dismissible fade {{ (app.session.flashBag.peek('s')) ? 'show' : '' }}" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        {% for message in app.session.flashBag.get('s') %}
                            {{ message }}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-6">

                    {#New Request Installment Payment Button - Customer#}
                    {% if canNewRequest %}
                        <button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal"
                                data-target=".bs-example-modal-lg">{{ 'accounting.installment.new.request.button.title' | trans }}
                        </button>
                    {% endif %}
                    {#New Request Installment Payment Button - Customer#}


                    {#Calculation Button - Admin and Customer (Modal Opened With JS File)#}
                    <button id="openModal" type="button" class="btn btn-secondary waves-effect waves-light"
                            data-toggle="modal"
                            data-target="#installment-calculator"
                            data-type="2"> {{ 'accounting.installment.calculate.button.title' | trans }}
                    </button>
                    {#Calculation Button - Admin and Customer (Modal Opened With JS File)#}


                    {#New Request Installment Payment Modal - Customer#}
                    {% if canNewRequest %}
                        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
                             aria-labelledby="mySmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title mt-0">{{ 'accounting.installment.new.request.modal.title' | trans }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card m-b-30">
                                                <div class="card-body">
                                                    <form action="{{ path('accounting_installment_request_create') }}"
                                                          method="post">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="card m-b-30">
                                                                    <div class="card-body">
                                                                        <h4 class="mt-0 header-title">{{ 'general.bank.information.title' | trans }}</h4>
                                                                        <p class="sub-title">{{ 'accounting.installment.user.personal.information.description' | trans }}</p>
                                                                        <div class="row">
                                                                            <div class="col-lg-6">
                                                                                <div class="p-20">
                                                                                    <div class="form-group">
                                                                                        <label>{{ 'general.buy.type.title' | trans }}</label>
                                                                                        <select class="form-control" required
                                                                                                name="buyType">
                                                                                            {#<option value="none">{{ 'general.select.title' | trans }}</option>#}
                                                                                            {% for buyType in buyTypes %}
                                                                                                <option value="{{ buyType.machineName }}">
                                                                                                    {{ ('accounting.installment.form.buy.type.drop.down.' ~ buyType.machineName) | trans }}
                                                                                                </option>
                                                                                            {% endfor %}
                                                                                        </select>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label>{{ 'general.bank.title' | trans }}</label>
                                                                                        <select class="form-control" required
                                                                                                name="bank">
                                                                                            {#<option value="none">{{ 'general.select.title' | trans }}</option>#}
                                                                                            {% for bank in banks %}
                                                                                                <option value="{{ bank.machineName }}">
                                                                                                    {{ bank.name }}
                                                                                                </option>
                                                                                            {% endfor %}
                                                                                        </select>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label>{{ 'accounting.installment.user.personal.information.account.number.title' | trans }}</label>
                                                                                        <input type="text"
                                                                                               class="form-control"
                                                                                               name="chequeAccountNumber" required>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label>{{ 'accounting.installment.user.personal.information.salary.account.number.title' | trans }}</label>
                                                                                        <button type="button"
                                                                                                class="btn btn-secondary btn-sm rounded-circle mo-mb-2"
                                                                                                data-toggle="tooltip"
                                                                                                data-placement="top"
                                                                                                title=""
                                                                                                data-original-title="{{ 'accounting.installment.user.personal.information.salary.account.number.tooltip' | trans }}">
                                                                                            ?
                                                                                        </button>
                                                                                        <input type="text"
                                                                                               class="form-control"
                                                                                               name="investAccountNumber" required>
                                                                                    </div>
                                                                                    <div class="form-group m-b-0">
                                                                                        <label>{{ 'accounting.installment.user.personal.information.create.account.year.title' | trans }}</label>
                                                                                        <select class="form-control" required
                                                                                                name="accountCreatedDate">
                                                                                            {#<option value="none">{{ 'general.select.title' | trans }}</option>#}
                                                                                            {% for year in years %}
                                                                                                <option value="{{ year }}">
                                                                                                    {{ year }}
                                                                                                </option>
                                                                                            {% endfor %}
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-6">
                                                                                <div class="p-20">
                                                                                    <div class="form-group">
                                                                                        <label>{{ 'general.cheque.type.title' | trans }}</label>
                                                                                        <select class="form-control" required
                                                                                                name="chequeType">
                                                                                            {#<option value="none">{{ 'general.select.title' | trans }}</option>#}
                                                                                            {% for chequeType in chequeTypes %}
                                                                                                <option value="{{ chequeType.machineName }}">
                                                                                                    {{ ('accounting.installment.form.cheque.type.drop.down.' ~ chequeType.machineName) | trans }}
                                                                                                </option>
                                                                                            {% endfor %}
                                                                                        </select>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label>{{ 'accounting.installment.user.personal.information.bank.code.branch.name.title' | trans }}</label>
                                                                                        <input type="text"
                                                                                               class="form-control"
                                                                                               name="branchName" required>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label>{{ 'accounting.installment.user.personal.information.product.type.and.description.title' | trans }}</label>
                                                                                        <input type="text"
                                                                                               class="form-control"
                                                                                               name="productName" required>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label>{{ 'general.buy.price.title' | trans }}</label>
                                                                                        <input type="text"
                                                                                               class="form-control"
                                                                                               name="productPrice" required>
                                                                                    </div>
                                                                                </div>
                                                                            </div> <!-- end col -->
                                                                        </div> <!-- end row -->
                                                                    </div>
                                                                </div>
                                                            </div> <!-- end col -->
                                                            <div class="col-4"></div>
                                                            <div class="col-4">
                                                                <button type="submit"
                                                                        class="btn btn-primary btn-lg btn-block waves-effect waves-light mb-4">{{ 'general.send.title' | trans }}
                                                                </button>
                                                            </div>
                                                            <div class="col-4"></div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div> <!-- end col -->
                                    </div>

                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div>
                    {% endif %}
                    {#New Request Installment Payment Modal - Customer#}
                </div>
            </div>
        </div>
        {#Buttons and Modals#}


        {#Installment Payments Table - Admin#}
        <div class="row">
            <div class="col-12">
                <div class="card m-b-30">
                    <div class="card-body">
                        <div class="table-rep-plugin">
                            <div class="table-responsive b-0" data-pattern="priority-columns">
                                <table id="tech-companies-1" class="table  table-striped">
                                    <thead>
                                    <tr>
                                        {#<th>{{ 'accounting.installment.user.table.row.count.title' | trans }}</th>#}
                                        <th>{{ 'accounting.installment.user.table.request.date.title' | trans }}</th>
                                        {% if canSeeAllUsers %}
                                            <th>{{ 'accounting.installment.admin.table.requester.name.title' | trans }}</th>
                                        {% endif %}
                                        {% if canSeeAllUsers %}
                                            <th>{{ 'accounting.installment.admin.table.requester.number.title' | trans }}</th>
                                        {% endif %}
                                        {% if canSeeAllUsers %}
                                            <th>{{ 'accounting.installment.admin.table.requester.national.code.title' | trans }}</th>
                                        {% endif %}
                                        <th>{{ 'accounting.installment.user.table.installment.payment.cost.title' | trans }}</th>
                                        <th>{{ 'accounting.installment.user.table.status.title' | trans }}</th>
                                        {% if canSeeAllUsers %}
                                            <th>{{ 'accounting.installment.admin.personal.info.popup.column.title' | trans }}</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for installmentPayment in installmentPayments %}
                                        <tr>
                                            {#<th>1</th>#}
                                            <td>{{ installmentPayment.requestCreateDate }}</td>
                                            {% if canSeeAllUsers %}
                                                <td>{{ installmentPayment.firstName }} {{ installmentPayment.lastName }}</td>
                                            {% endif %}
                                            {% if canSeeAllUsers %}
                                                <td>{{ installmentPayment.mobileNumber }}</td>
                                            {% endif %}
                                            {% if canSeeAllUsers %}
                                                <td>{{ installmentPayment.nationalCode }}</td>
                                            {% endif %}
                                            <td>{{ installmentPayment.productPrice }}</td>
                                            <td>
                                                {% if canSeeAllUsers %}
                                                    {% if installmentPayment.requestStatus == 'waiting' %}
                                                        <a href="{{ path('accounting_installment_request_change_status' , {installment_id:installmentPayment.requestID , machine_name:'accepted' }) }}"
                                                           class="btn btn-success waves-effect waves-light">{{ 'general.accept.title' | trans }}</a>
                                                        <a href="{{ path('accounting_installment_request_change_status' , {installment_id:installmentPayment.requestID , machine_name:'rejected'  }) }}"
                                                           class="btn btn-danger waves-effect waves-light">{{ 'general.reject.title' | trans }}</a>
                                                    {% elseif installmentPayment.requestStatus == 'accepted' %}
                                                        {{ 'general.accepted.title' | trans }}
                                                    {% elseif installmentPayment.requestStatus == 'rejected' %}
                                                        {{ 'general.rejected.title' | trans }}
                                                    {% endif %}
                                                {% else %}
                                                    {% if installmentPayment.requestStatus == 'waiting' %}
                                                        {{ 'general.waiting.title' | trans }}
                                                    {% elseif installmentPayment.requestStatus == 'accepted' %}
                                                        {{ 'general.accepted.title' | trans }}
                                                    {% elseif installmentPayment.requestStatus == 'rejected' %}
                                                        {{ 'general.rejected.title' | trans }}
                                                    {% endif %}

                                                {% endif %}
                                            </td>
                                            {% if canSeeAllUsers %}
                                                <td>
                                                    {#New Modal#}
                                                    <button type="button"
                                                            class="btn btn-info waves-effect waves-light"
                                                            data-toggle="modal"
                                                            data-target="#requestModal{{ installmentPayment.requestId }}">{{ 'accounting.installment.user.personal.information.title' | trans }}
                                                    </button>


                                                    <div class="modal fade bs-example-modal-lg" tabindex="-1"
                                                         role="dialog"
                                                         id="requestModal{{ installmentPayment.requestId }}"
                                                         aria-labelledby="myLargeModalLabel" aria-hidden="true"
                                                         style="display: none;">
                                                        <div class="modal-dialog modal-lg">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    {#<h5 class="modal-title mt-0" id="myLargeModalLabel">Large modal</h5>#}
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">×</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <div class="card m-b-30">
                                                                                <div class="card-body">
                                                                                    <h4 class="mt-0 header-title">{{ 'accounting.installment.user.personal.information.title' | trans }}</h4>
                                                                                    <p class="sub-title">{{ 'accounting.installment.user.personal.information.description' | trans }}</p>
                                                                                    <div class="row">
                                                                                        <div class="col-lg-6">
                                                                                            <div class="p-20">
                                                                                                <div class="form-group">
                                                                                                    <label>{{ 'general.gender.title' | trans }}</label>
                                                                                                    <h4>{{ ('accounting.installment.form.gender.drop.down.' ~ installmentPayment.genderStatus) | trans }}</h4>
                                                                                                </div>
                                                                                                <div class="form-group">
                                                                                                    <label>{{ 'general.national.code.title' | trans }}</label>
                                                                                                    <h4>{{ installmentPayment.nationalCode }}</h4>
                                                                                                </div>
                                                                                                <div class="form-group">
                                                                                                    <label>{{ 'general.first.name.title' | trans }}</label>
                                                                                                    <h4>{{ installmentPayment.firstName }}</h4>
                                                                                                </div>
                                                                                                <div class="form-group">
                                                                                                    <label>{{ 'general.last.name.title' | trans }}</label>
                                                                                                    <h4>{{ installmentPayment.lastName }}</h4>
                                                                                                </div>
                                                                                                <div class="form-group m-b-0">
                                                                                                    <label>{{ 'general.father.name.title' | trans }}</label>
                                                                                                    <h4>{{ installmentPayment.fatherName }}</h4>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-lg-6">
                                                                                            <div class="p-20">
                                                                                                <div class="form-group">
                                                                                                    <label>{{ 'general.marriage.status.title' | trans }}</label>
                                                                                                    <h4>{{ ('accounting.installment.form.marriage.status.drop.down.' ~ installmentPayment.marriageStatus) | trans }}</h4>
                                                                                                </div>

                                                                                                <div class="form-group">
                                                                                                    <label>{{ 'general.birth.date.title' | trans }}</label>
                                                                                                    <h4>{{ installmentPayment.birthDate }}</h4>
                                                                                                </div>
                                                                                                <div class="form-group">
                                                                                                    <label>{{ 'general.birth.certificate.code.title' | trans }}</label>
                                                                                                    <h4>{{ installmentPayment.birthCertificateCode }}</h4>
                                                                                                </div>
                                                                                                <div class="form-group">
                                                                                                    <label>{{ 'general.email.title' | trans }}</label>
                                                                                                    <h4>{{ installmentPayment.email }}</h4>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div> <!-- end col -->
                                                                                    </div> <!-- end row -->
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <div class="card m-b-30">
                                                                                <div class="card-body">
                                                                                    <h4 class="mt-0 header-title">{{ 'accounting.installment.user.personal.information.job.address.title' | trans }}</h4>
                                                                                    <p class="sub-title">{{ 'accounting.installment.user.personal.information.description' | trans }}</p>
                                                                                    <div class="row">
                                                                                        <div class="col-lg-6">
                                                                                            <div class="p-20">
                                                                                                <div class="form-group">
                                                                                                    <label>{{ 'general.job.title' | trans }}</label>
                                                                                                    <button type="button"
                                                                                                            class="btn btn-secondary btn-sm rounded-circle mo-mb-2"
                                                                                                            data-toggle="tooltip"
                                                                                                            data-placement="top"
                                                                                                            title=""
                                                                                                            data-original-title="{{ 'accounting.installment.user.personal.information.job.tooltip' | trans }}">
                                                                                                        ?
                                                                                                    </button>
                                                                                                    <h4>{{ installmentPayment.job }}</h4>
                                                                                                </div>
                                                                                                <div class="form-group">
                                                                                                    <label>{{ 'general.company.name.or.job.place.title' | trans }}</label>
                                                                                                    <h4>{{ installmentPayment.companyName }}</h4>
                                                                                                </div>
                                                                                                <div class="form-group">
                                                                                                    <label>{{ 'general.earn.monthly.title' | trans }}</label>
                                                                                                    <h4>{{ installmentPayment.monthlySalary }}</h4>
                                                                                                </div>
                                                                                                <div class="form-group">
                                                                                                    <label>{{ 'general.job.status.title' | trans }}</label>
                                                                                                    <h4>{{ ('accounting.installment.form.job.status.drop.down.' ~ installmentPayment.jobStatus) | trans }}</h4>
                                                                                                </div>
                                                                                                <div class="form-group m-b-0">
                                                                                                    <label>{{ 'general.job.address.title' | trans }}</label>
                                                                                                    <h4>{{ installmentPayment.jobAddress }}</h4>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-lg-6">
                                                                                            <div class="p-20">
                                                                                                <div class="form-group">
                                                                                                    <label>{{ 'general.job.phone.title' | trans }}</label>
                                                                                                    <h4>{{ installmentPayment.jobPhoneNumber }}</h4>
                                                                                                </div>
                                                                                                <div class="form-group">
                                                                                                    <label>{{ 'general.province.title' | trans }}</label>
                                                                                                    <h4>{{ installmentPayment.province }}</h4>
                                                                                                </div>
                                                                                                <div class="form-group">
                                                                                                    <label>{{ 'general.city.title' | trans }}</label>
                                                                                                    <h4>{{ installmentPayment.city }}</h4>
                                                                                                </div>
                                                                                                <div class="form-group">
                                                                                                    <label>{{ 'general.home.address.title' | trans }}</label>
                                                                                                    <h4>{{ installmentPayment.homeAddress }}</h4>
                                                                                                </div>
                                                                                                <div class="form-group m-b-0">
                                                                                                    <label>{{ 'general.home.phone.title' | trans }}</label>
                                                                                                    <h4>{{ installmentPayment.homePhoneNumber }}</h4>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div> <!-- end col -->
                                                                                    </div> <!-- end row -->
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <div class="card m-b-30">
                                                                                <div class="card-body">
                                                                                    <h4 class="mt-0 header-title">{{ 'general.bank.information.title' | trans }}</h4>
                                                                                    <p class="sub-title">{{ 'accounting.installment.user.personal.information.description' | trans }}</p>
                                                                                    <div class="row">
                                                                                        <div class="col-lg-6">
                                                                                            <div class="p-20">
                                                                                                <div class="form-group">
                                                                                                    <label>{{ 'general.buy.type.title' | trans }}</label>
                                                                                                    <h4>{{ ('accounting.installment.form.buy.type.drop.down.' ~ installmentPayment.buyType) | trans }}</h4>
                                                                                                </div>
                                                                                                <div class="form-group">
                                                                                                    <label>{{ 'general.bank.title' | trans }}</label>
                                                                                                    <h4>{{ installmentPayment.bank }}</h4>
                                                                                                </div>
                                                                                                <div class="form-group">
                                                                                                    <label>{{ 'accounting.installment.user.personal.information.account.number.title' | trans }}</label>
                                                                                                    <h4>{{ installmentPayment.chequeAccountNumber }}</h4>
                                                                                                </div>
                                                                                                <div class="form-group">
                                                                                                    <label>{{ 'accounting.installment.user.personal.information.salary.account.number.title' | trans }}</label>
                                                                                                    <button type="button"
                                                                                                            class="btn btn-secondary btn-sm rounded-circle mo-mb-2"
                                                                                                            data-toggle="tooltip"
                                                                                                            data-placement="top"
                                                                                                            title=""
                                                                                                            data-original-title="{{ 'accounting.installment.user.personal.information.salary.account.number.tooltip' | trans }}">
                                                                                                        ?
                                                                                                    </button>
                                                                                                    <h4>{{ installmentPayment.investAccountNumber }}</h4>
                                                                                                </div>
                                                                                                <div class="form-group m-b-0">
                                                                                                    <label>{{ 'accounting.installment.user.personal.information.create.account.year.title' | trans }}</label>
                                                                                                    <h4>{{ installmentPayment.accountCreatedDate }}</h4>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-lg-6">
                                                                                            <div class="p-20">
                                                                                                <div class="form-group">
                                                                                                    <label>{{ 'general.cheque.type.title' | trans }}</label>
                                                                                                    <h4>{{ ('accounting.installment.form.cheque.type.drop.down.' ~ installmentPayment.chequeType) | trans }}</h4>
                                                                                                </div>
                                                                                                <div class="form-group">
                                                                                                    <label>{{ 'accounting.installment.user.personal.information.bank.code.branch.name.title' | trans }}</label>
                                                                                                    <h4>{{ installmentPayment.branchName }}</h4>
                                                                                                </div>
                                                                                                <div class="form-group">
                                                                                                    <label>{{ 'accounting.installment.user.personal.information.product.type.and.description.title' | trans }}</label>
                                                                                                    <h4>{{ installmentPayment.productName }}</h4>
                                                                                                </div>
                                                                                                <div class="form-group">
                                                                                                    <label>{{ 'general.buy.price.title' | trans }}</label>
                                                                                                    <h4>{{ installmentPayment.productPrice }}</h4>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div> <!-- end col -->
                                                                                    </div> <!-- end row -->
                                                                                </div>
                                                                            </div>
                                                                        </div> <!-- end col -->
                                                                    </div>
                                                                </div>
                                                            </div><!-- /.modal-content -->
                                                        </div><!-- /.modal-dialog -->
                                                    </div>

                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        {#Installment Payments Table - Admin#}



    {% else %}
        {#First Customer Login - Customer (Personal Information)#}
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h4 class="page-title">{{ 'general.basic.information.title' | trans }}</h4>
                </div>
            </div>
        </div>
        {#New Form#}
        <form action="{{ path('accounting_installment_request_personal_info') }}" method="post">
            <div class="row">
                <div class="col-12">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <h4 class="mt-0 header-title">{{ 'accounting.installment.user.personal.information.title' | trans }}</h4>
                            <p class="sub-title">{{ 'accounting.installment.user.personal.information.description' | trans }}</p>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="p-20">
                                        <div class="form-group">
                                            <label>{{ 'general.gender.title' | trans }}</label>
                                            <select class="form-control" required
                                                    name="genderStatus">
                                                {#<option value="none">{{ 'general.select.title' | trans }}</option>#}
                                                {% for gender in genders %}
                                                    <option value="{{ gender.machineName }}">{{ ('accounting.installment.form.gender.drop.down.' ~ gender.machineName) | trans }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>{{ 'general.national.code.title' | trans }}</label>
                                            <input type="text"
                                                   class="form-control" name="nationalCode"
                                                   value="{{ personalInformation.nationalCode }}" required>
                                        </div>
                                        <div class="form-group">
                                            <label>{{ 'general.first.name.title' | trans }}</label>
                                            <input type="text"
                                                   class="form-control" name="firstName"
                                                   value="{{ personalInformation.firstName }}" required>
                                        </div>
                                        <div class="form-group">
                                            <label>{{ 'general.last.name.title' | trans }}</label>
                                            <input type="text" class="form-control"
                                                   name="lastName" value="{{ personalInformation.lastName }}" required>
                                        </div>
                                        <div class="form-group m-b-0">
                                            <label>{{ 'general.father.name.title' | trans }}</label>
                                            <input type="text" class="form-control"
                                                   name="fatherName" value="{{ personalInformation.fatherName }}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="p-20">
                                        <div class="form-group">
                                            <label>{{ 'general.marriage.status.title' | trans }}</label>
                                            <select class="form-control" name="marriageStatus" required>
                                                {#<option value="none">{{ 'general.select.title' | trans }}</option>#}
                                                {% for marriage in marriages %}
                                                    <option value="{{ marriage.machineName }}">{{ ('accounting.installment.form.marriage.status.drop.down.' ~ marriage.machineName) | trans }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label>{{ 'general.birth.date.title' | trans }}</label>

                                            <input type="text" class="form-control" name="birthDate" id="date-picker-date-id"
                                                   value="{{ personalInformation.birthDate }}" required>
                                            <span id="span-date-picker"></span>
                                        </div>
                                        <div class="form-group">
                                            <label>{{ 'general.birth.certificate.code.title' | trans }}</label>
                                            <input type="text" class="form-control" name="birthCertificateCode"
                                                   value="{{ personalInformation.birthCertificateCode }}" required>
                                        </div>
                                        <div class="form-group">
                                            <label>{{ 'general.email.title' | trans }}</label>
                                            <input type="email" class="form-control" name="email"
                                                   value="{{ personalInformation.email }}" required>
                                        </div>
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <h4 class="mt-0 header-title">{{ 'accounting.installment.user.personal.information.job.address.title' | trans }}</h4>
                            <p class="sub-title">{{ 'accounting.installment.user.personal.information.description' | trans }}</p>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="p-20">
                                        <div class="form-group">
                                            <label>{{ 'general.job.title' | trans }}</label>
                                            <button type="button"
                                                    class="btn btn-secondary btn-sm rounded-circle mo-mb-2"
                                                    data-toggle="tooltip" data-placement="top" title=""
                                                    data-original-title="{{ 'accounting.installment.user.personal.information.job.tooltip' | trans }}">
                                                ?
                                            </button>
                                            <input type="text"
                                                   class="form-control" name="job"
                                                   value="{{ personalInformation.job }}" required>
                                        </div>
                                        <div class="form-group">
                                            <label>{{ 'general.company.name.or.job.place.title' | trans }}</label>
                                            <input type="text"
                                                   class="form-control" name="companyName"
                                                   value="{{ personalInformation.companyName }}" required>
                                        </div>
                                        <div class="form-group">
                                            <label>{{ 'general.earn.monthly.title' | trans }}</label>
                                            <input type="text"
                                                   class="form-control" name="monthlySalary"
                                                   value="{{ personalInformation.monthlySalary }}" required>
                                        </div>
                                        <div class="form-group">
                                            <label>{{ 'general.job.status.title' | trans }}</label>
                                            <select class="form-control" name="jobStatus" required>
                                                {#<option value="none">{{ 'general.select.title' | trans }}</option>#}
                                                {% for jobStatus in jobStatuses %}
                                                    <option value="{{ jobStatus.machineName }}">{{ ('accounting.installment.form.job.status.drop.down.' ~ jobStatus.machineName) |trans }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group m-b-0">
                                            <label>{{ 'general.job.address.title' | trans }}</label>
                                            <input type="text" class="form-control" name="jobAddress"
                                                   value="{{ personalInformation.jobAddress }}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="p-20">
                                        <div class="form-group">
                                            <label>{{ 'general.job.phone.title' | trans }}</label>
                                            <input type="text" class="form-control" name="jobPhoneNumber"
                                                   value="{{ personalInformation.jobPhoneNumber }}" required>
                                        </div>
                                        <div class="form-group">
                                            <label>{{ 'general.province.title' | trans }}</label>
                                            <select class="form-control" name="province" id="province" required></select>
                                        </div>
                                        <div class="form-group">
                                            <label>{{ 'general.city.title' | trans }}</label>
                                            <select class="form-control" name="city" id="city" required></select>
                                        </div>
                                        <div class="form-group">
                                            <label>{{ 'general.home.address.title' | trans }}</label>
                                            <input type="text" class="form-control" name="homeAddress"
                                                   value="{{ personalInformation.homeAddress }}" required>
                                        </div>
                                        <div class="form-group m-b-0">
                                            <label>{{ 'general.home.phone.title' | trans }}</label>
                                            <input type="text" class="form-control" name="homePhoneNumber"
                                                   value="{{ personalInformation.homePhoneNumber }}" required>
                                        </div>
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                        </div>
                    </div>
                </div>
                <div class="col-4"></div>
                <div class="col-4">
                    <button type="submit"
                            class="btn btn-primary btn-lg btn-block waves-effect waves-light mb-4">{{ 'general.send.title' | trans }}
                    </button>
                </div>
                <div class="col-4"></div>
            </div>
        </form>
        {#New Form#}
        {#First Customer Login - Customer (Personal Information)#}
    {% endif %}
{% endblock %}
