{% extends 'base.html.twig' %}

{% block title %}{{ 'repository.item.create.tab.title' | trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-10">
                            <h1>{{ 'repository.item.create.main.title' | trans }}</h1>
                            <p>{{ 'repository.item.create.main.description' | trans }}</p>
                        </div>
                        <div class="col-2 mt-3">
                            <a href="{{ path('repository_item_repository_item_list') }}"
                               class="btn-secondary btn btn-block rounded fa fa-list"></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% if canCreate %}
            <div class="col-12">
                <div class="panel">
                    <div class="panel-heading">
                        <strong>{{ 'general.basic.information.title' | trans }}</strong>
                    </div>
                    <div class="panel-content">
                        <form class="row" action="{{ path('repository_item_repository_item_create') }}" method="post">
                            <div class="col-3">
                                <label for="name" class="label-text">{{ 'general.name.title' | trans }}</label>
                                <input type="text" id="name" value="{{ itemModel.itemName }}" name="itemName"
                                       class="form-control">
                            </div>
                            <div class="col-3">
                                <label for="brand" class="label-text">{{ 'general.brand.title' | trans }}</label>
                                <select name="itemBrandId" class="form-control mb-3" id="brand">
                                    {% for brand in brands %}
                                        <option value="{{ brand.brandID }}" {{ (itemModel.itemBrandId == brand.brandID) ? 'selected' : '' }}>{{ brand.brandName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-3">
                                <label for="type" class="label-text">{{ 'general.type.title' | trans }}</label>
                                <select name="itemTypeId" class="form-control" id="type">
                                    {% for itemType in itemTypes %}
                                        <option value="{{ itemType.itemTypeId }}" {{ (itemModel.itemTypeId == itemType.itemTypeId) ? 'selected' : '' }}>{{ itemType.itemTypeName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-3 mt-3">
                                <button type="submit" class="btn btn-block btn-dark rounded mt-3"><i
                                            class="fa fa-save"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if false %}
            <div class="col-12">
                <div class="panel">
                    <div class="panel-heading">
                        Flexible content
                    </div>
                    <div class="panel-content flexible-content">


                        <div class="flex-row">
                            <div class="flex-box flex-box-filled">
                        <textarea name="mail_message" class="form-control"
                                  data-trigger="summernote">
                        </textarea>
                            </div>
                            <div class="flex-box">
                                <div class="btn-block btn-success flex-add">
                                    <div class="flex-column-option flex-add-text fa fa-paragraph"></div>
                                    <div class="flex-column-option flex-add-video fa fa-video"></div>
                                    <div class="flex-column-option flex-add-image fa fa-image"></div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-box flex-box-filled">
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-10 form-inline">
                                        <label class="form-radio mr-3">
                                            <input type="radio" name="radio02" value="1" class="form-radio-input"
                                                   checked="">
                                            <span class="form-radio-label">Local</span>
                                        </label>

                                        <label class="form-radio">
                                            <input type="radio" name="radio02" value="2" class="form-radio-input">
                                            <span class="form-radio-label">Aparat</span>
                                        </label>
                                        <label class="form-radio">
                                            <input type="radio" name="radio02" value="2" class="form-radio-input">
                                            <span class="form-radio-label">Youtube</span>
                                        </label>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-10">
                                        <label class="custom-file">
                                            <input type="file" class="custom-file-input">
                                            <span class="custom-file-label">Choose File</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-box flex-box-filled">
                                <div class="flex-images">
                                    <div class="flex-image">
                                        <img src="../../images/invoice/logo.png" alt="">
                                        <div class="options">
                                            <a href="#" class="btn btn-danger btn-rounded fa fa-trash"></a>
                                        </div>
                                    </div>
                                    <div class="flex-image">
                                        <img src="../../images/invoice/logo.png" alt="">
                                        <div class="options">
                                            <a href="#" class="btn btn-danger btn-rounded fa fa-trash"></a>
                                        </div>
                                    </div>
                                    <div class="flex-image">
                                        <img src="../../images/invoice/logo.png" alt="">
                                        <div class="options">
                                            <a href="#" class="btn btn-danger btn-rounded  fa fa-trash"></a>
                                        </div>
                                    </div>
                                    <div class="flex-image">
                                        <img src="../../images/invoice/logo.png" alt="">
                                        <div class="options">
                                            <a href="#" class="btn btn-danger btn-rounded fa fa-trash"></a>
                                        </div>
                                    </div>
                                    <div class="flex-image">
                                        <div class="btn-block btn-success fa fa-plus flex-add"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="flex-box">
                                <div class="btn-block btn-success flex-add">
                                    <div class="flex-column-option flex-add-text fa fa-paragraph"></div>
                                    <div class="flex-column-option flex-add-video fa fa-video"></div>
                                    <div class="flex-column-option flex-add-image fa fa-image"></div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-box">
                                <div class="btn-block btn-success fa fa-plus flex-add"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
