{% extends 'base.html.twig' %}

{% block title %}Customer | Invoice{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    Customer Name
                </div>
                <div class="panel-content">
                    {% include 'crm/customer/tab.html.twig' %}
                    <!-- Tab Content Start -->
                    <div class="tab-content">
                        <!-- Tab Pane Start Invoice -->
                        <div class="tab-pane fade show active">
                            <div class="row">
                                <div class="col-12">
                                    <div class="panel">
                                        <div class="panel-content">
                                            <div class="form-group row">
                                                <div class="col-4"></div>
                                                <div class="col-md-4">
                                                    <input type="text" placeholder="Search" name="text"
                                                           class="form-control">
                                                </div>
                                                <div class="col-4"></div>
                                            </div>
                                            <!-- Records List Start -->
                                            <div class="records--list">
                                                <table id="table4">
                                                    <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>From</th>
                                                        <th>To</th>
                                                        <th>Total Price</th>
                                                        <th>Type</th>
                                                        <th>Status</th>
                                                        <th>Create date</th>
                                                        <th>Creator</th>
                                                        <th>Invoice Group</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for invoice in invoices %}
                                                        <tr>
                                                            <td>{{ invoice.invoiceId }}</td>
                                                            <td>
                                                                {{ invoice.invoiceFromCompanyName }}
                                                                {{ invoice.invoiceFromPersonFirstName }} {{ invoice.invoiceFromPersonLastName }}
                                                            </td>
                                                            <td>
                                                                {{ invoice.invoiceToCompanyName }}
                                                                {{ invoice.invoiceToPersonFirstName }} {{ invoice.invoiceToPersonLastName }}
                                                            </td>
                                                            <td>
                                                                {{ invoice.invoiceTotalPrice }}
                                                            </td>
                                                            <td>
                                        <span class="label rounded {{ (invoice.invoiceStatusMachineName == 'income') ? 'label-green' : 'label-red' }}">
                                            {{ invoice.invoiceTypeName }}
                                        </span>
                                                            </td>
                                                            <td>
                                        <span class="label rounded"
                                              style="background-color: {{ invoice.invoiceStatusColor }}">
                                            {{ invoice.invoiceStatusName }}
                                        </span>
                                                            </td>
                                                            <td>
                                                                {{ invoice.invoiceCreateDate }}
                                                            </td>
                                                            <td>
                                                                {{ invoice.invoiceCreatePerson }}
                                                            </td>
                                                            <td>
                                                                {{ invoice.invoiceGroupName }}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- Records List End -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tab Pane End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
