{% extends 'base.html.twig' %}

{% block title %}Customer | Payment Deed{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    Customer Name
                </div>
                <div class="panel-content">
                    {% include 'crm/customer/tab.html.twig' %}
                    <!-- Tab Content Start -->
                    <div class="tab-content">
                        <!-- Tab Pane Start Payment Deed -->
                        <div class="tab-pane fade show active">
                            <div class="row">
                                <div class="col-12">
                                    <div class="panel">
                                        <div class="panel-content">
                                            <div class="form-group row">
                                                <div class="col-4"></div>
                                                <div class="col-md-4">
                                                    <input type="text" placeholder="Search" name="text"
                                                           class="form-control">
                                                </div>
                                                <div class="col-4"></div>
                                            </div>
                                            <!-- Records List Start -->
                                            <div class="records--list">
                                                <table id="ProvincesList">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">Date times</th>
                                                        <th scope="col">Amount</th>
                                                        <th scope="col">Payment method</th>
                                                        <th scope="col">From</th>
                                                        <th scope="col">To</th>
                                                        <th scope="col">Type</th>
                                                        <th scope="col">Follow token</th>
                                                        <th scope="col">Status</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for payment in payments %}
                                                        <tr>
                                                            <td>
                                                                <ul class="list-unstyled">
                                                                    <li class="mb-3"><strong>Due Date</strong>
                                                                        <ul class="list-unstyled">
                                                                            <li>{{ payment.paymentDueDate }}</li>
                                                                        </ul>
                                                                    </li>
                                                                    <li class="mb-3"><strong>Created at</strong>
                                                                        <ul class="list-unstyled">
                                                                            <li>{{ payment.paymentCreateDate }}</li>
                                                                        </ul>
                                                                    </li>
                                                                    <li class="mb-3"><strong>Paid at</strong>
                                                                        <ul class="list-unstyled">
                                                                            <li>{{ payment.paymentPaidDate }}</li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                            <td>
                                                                {{ payment.paymentAmount }}
                                                            </td>
                                                            <td>
                                                                <span class="label label-info rounded">{{ payment.paymentMethodName }}</span>
                                                            </td>
                                                            <td>
                                                                {{ payment.invoiceFromCompanyName }}
                                                                {{ payment.invoiceFromPersonFirstName }} {{ payment.invoiceFromPersonLastName }}
                                                            </td>
                                                            <td>
                                                                {{ payment.invoiceToCompanyName }}
                                                                {{ payment.invoiceToPersonFirstName }} {{ payment.invoiceToPersonLastName }}
                                                            </td>
                                                            <td>
                                                                {% if payment.paymentType.paymentTypeMachineName == 'income' %}
                                                                    <span class="fa fa-arrow-left text-green"></span>
                                                                {% else %}
                                                                    <span class="fa fa-arrow-right text-red"></span>
                                                                {% endif %}
                                                            </td>
                                                            <td>{{ payment.paymentFollowToken }}</td>
                                                            <td>
                                                <span class="label rounded"
                                                      style="background-color: {{ payment.paymentStatus.paymentStatusColor }}">
                                                    {{ payment.paymentStatus.paymentStatusName }}
                                                </span>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- Records List End -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tab Pane End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
