<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>{% block title %}{% endblock %}</title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description"/>
    <meta content="Themesdesign" name="author"/>
    <link rel="shortcut icon"
          href="http://website.aradmag.com/wp-content/themes/shield/assets/image/matican/favicon.png">

    <!-- Table css -->
    <link href="../plugins/RWD-Table-Patterns/dist/css/rwd-table.min.css" rel="stylesheet" type="text/css"
          media="screen">

    <link href="{{ asset('assets-2/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">

    <link href="{{ asset('assets-2/css/metismenu.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets-2/css/icons.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets-2/css/style.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ asset('modal/app.css') }}">
    <style>
        @font-face {
            font-family: 'AIranianSans';
            src: url('{{ asset('assets/fonts/arad-font/BRoya.eot') }}?#iefix') format('embedded-opentype'),
            url('{{ asset('assets/fonts/arad-font/BRoya.woff') }}') format('woff'),
            url('{{ asset('assets/fonts/arad-font/BRoya.ttf') }}') format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        body, p, h1, h2, h3, h4, h5, h6, strong, td, tr, input {

            font-family: 'AIranianSans', sans-serif !important;
            font-size: medium !important;
        }

        p {
            font-size: 18px !important;
            line-height: 32px !important;
        }

        #topnav .topbar-main {
            background-color: #ffffff !important;
        }

        body {
            background: #cdcdcd !important;
        }

        .scrollit {
            overflow: scroll;
            height: 600px;
        }

    </style>
    {% block stylesheets %}{% endblock %}

</head>

<body>

<script>
    function separated(element) {
        alert('sss');
        var num = $(element).html();
        var comma = /,/g;
        num = num.replace(comma, '');
        $('.num').html(num);
        var numCommas = addCommas(num);
        $(element).html(numCommas);
    }

    function addCommas(nStr) {
        nStr += '';
        var comma = /,/g;
        nStr = nStr.replace(comma, '');
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }

    setTimeout(function () {


        var textbox = '.commas';
        var hidden = '.num';
        $(textbox).keyup(function () {
            var num = $(this).val();
            var comma = /,/g;
            num = num.replace(comma, '');
            $(hidden).val(num);
            var numCommas = addCommas(num);
            $(this).val(numCommas);
        });


    }, 1000);

</script>

<div class="header-bg">
    <!-- Navigation Bar-->
    <header id="topnav">
        <div class="topbar-main">
            <div class="container-fluid">

                <!-- Logo-->
                <div>
                    <a href="/" class="logo">
                            <span class="logo-light">
                                    <img src="http://website.aradmag.com/wp-content/uploads/2019/09/logoarad-100x100.png"
                                         class="mdi mdi-camera-control">
                            </span>
                    </a>
                </div>
                <!-- End Logo-->

                <div class="menu-extras topbar-custom navbar p-0">

                    <ul class="navbar-right ml-auto list-inline float-right mb-0">

                        <li class="dropdown notification-list list-inline-item">
                            <div class="dropdown notification-list nav-pro-img">
                                {#<a class="dropdown-toggle nav-link arrow-none nav-user" data-toggle="dropdown" href="#"#}
                                {#role="button" aria-haspopup="false" aria-expanded="false">#}
                                {#<img src="{{ asset('assets-2/images/users/user-4.jpg') }}" alt="user"#}
                                {#class="rounded-circle">#}
                                {#</a>#}
                                {#<div class="dropdown-menu dropdown-menu-right profile-dropdown ">#}
                                <!-- item-->
                                {#<a class="dropdown-item" href="#"><i class="mdi mdi-account-circle"></i> Profile</a>#}
                                {#<div class="dropdown-divider"></div>#}
                                <a class="dropdown-item text-danger" style="margin-top: 30px !important;"
                                   href="{{ path('authentication_logout') }}"><i
                                            class="mdi mdi-power text-danger"></i> Logout</a>
                                {#</div>#}
                            </div>
                        </li>

                        <li class="menu-item dropdown notification-list list-inline-item">
                            <!-- Mobile menu toggle-->
                            <a class="navbar-toggle nav-link">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                            <!-- End mobile menu toggle-->
                        </li>

                    </ul>

                </div>
                <!-- end menu-extras -->

                <div class="clearfix"></div>

            </div>
            <!-- end container -->
        </div>
        <!-- end topbar-main -->
    </header>
    <!-- End Navigation Bar-->

</div>
<!-- header-bg -->

<div class="wrapper">
    <div class="container-fluid">
        {% block body %}{% endblock %}
    </div>
    <!-- end container-fluid -->
</div>
<!-- end wrapper -->

<!-- Footer -->
<footer class="footer">
    All rights are reserved to Arad Mobile, Engineered by <a target="_blank" href="http://maticangroup.com">Matican
        Group</a>
</footer>

{#Modal#}
<div class="cal-modal modal fade dir-rtl" id="installment-calculator" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">فرم محاسبه اقساط</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center p-0">

                <div class="calculator">
                    <p> با این فرم به سادگی میزان مبلغ اقساط خود را محاسبه کنید (کلیه مبالغ به تومان می‌باشد) </p>

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-row text-right">

                                <div class="form-group col-xs-12 col-md-6 ">
                                    <label>مبلغ فاکتور</label>
                                    <input type="text" class="form-control effective_input" data-required="true"
                                           id="calc-factor-price"
                                           placeholder="مبلغ به تومان">
                                </div>
                                <div class="form-group col-xs-12 col-md-6">
                                    <label>نوع پرداخت</label>
                                    <select class="form-control effective_input" id="installment-type">
                                        <option value="kasr_hoqooq">کسر از حقوق (بدون چک)</option>
                                        <option value="cheque_azad">چک آزاد</option>
                                        <option value="cheque_karmandi">چک کارمندی</option>
                                        <option value="hekmat_card">حکمت کارت</option>
                                        <option value="safte">سفته</option>
                                    </select>
                                </div>
                                <div class="form-group col-xs-12 col-md-12" id="prepayment-wrapper">
                                    <label>پیش پرداخت</label>
                                    <input type="text" class="form-control effective_input" data-required="true"
                                           id="calc-prepayment"
                                           placeholder="به صورت پیش فرض ۲۵ درصد">
                                    <small class="form-text" id="calc-prepayment-alert">پیش پرداخت
                                        حداقل ۲۵
                                        درصد مبلغ فاکتور می
                                        باشد.
                                    </small>
                                </div>
                                <div class="form-group col-xs-6 col-md-6">
                                    <label>تعداد اقساط</label>
                                    <select class="form-control effective_input" id="calc-installment-count">
                                        <option value="1">۱</option>
                                        <option value="2">۲</option>
                                        <option value="3">۳</option>
                                        <option value="4">۴</option>
                                        <option value="5">۵</option>
                                        <option value="6">۶</option>
                                        <option value="7">۷</option>
                                        <option value="8">۸</option>
                                        <option value="9">۹</option>
                                        <option value="10">۱۰</option>
                                        <option value="11">۱۱</option>
                                        <option value="12">۱۲</option>
                                        <option value="13">۱۳</option>
                                        <option value="14">۱۴</option>
                                        <option value="15">۱۵</option>
                                        <option value="16">۱۶</option>
                                        <option value="17">۱۷</option>
                                        <option value="18">۱۸</option>
                                        <option value="19">۱۹</option>
                                        <option value="20">۲۰</option>
                                        <option value="21">۲۱</option>
                                        <option value="22">۲۲</option>
                                        <option value="23">۲۳</option>
                                        <option value="24">۲۴</option>
                                    </select>
                                </div>
                                <div class="form-group col-xs-6 col-md-6" id="interval-wrapper">
                                    <label>فاصله چک ها</label>
                                    <select class="form-control effective_input" id="calc-installment-interval">
                                        <option value="1">۱</option>
                                        <option value="2">۲</option>
                                        <option value="3">۳</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 d-flex align-items-center mt-5 mt-md-0">

                            <div class="invoice">
                                <div class="invoice-row">
                                    <div class="key">مبلغ کل فاکتور</div>
                                    <div class="value" data-item="totalPrice">-</div>
                                </div>
                                <div class="invoice-row">
                                    <div class="key">مبلغ پیش پرداخت</div>
                                    <div class="value" data-item="prePayment">-</div>
                                </div>
                                <div class="invoice-row">
                                    <div class="key">درصد پیش پرداخت</div>
                                    <div class="value" data-item="prePaymentPercent">-</div>
                                </div>
                                <div class="invoice-row">
                                    <div class="key">مبلغ وام شما</div>
                                    <div class="value" data-item="installmentLoan">-</div>
                                </div>
                                <!--      <div class="invoice-row">
                                          <div class="key">مبلغ هر قسط</div>
                                          <div class="value" data-item="installmentPayment">-</div>
                                      </div> -->
                                <div class="invoice-row">
                                    <div class="key">طول دوره بازپراخت (به ماه)</div>
                                    <div class="value" data-item="monthCount">-</div>
                                </div>
                                <div class="invoice-row">
                                    <div class="key">فاصله اقساط (به ماه)</div>
                                    <div class="value" data-item="paymentIntervalCount">-</div>
                                </div>
                                <div class="invoice-row">
                                    <div class="key">مبلغ هر قسط (چک)</div>
                                    <div class="value" data-item="eachMonthPayment">-</div>
                                </div>
                                <div class="invoice-row">
                                    <div class="key">کل سود وام</div>
                                    <div class="value" data-item="extraPayment">-</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
{#Modal#}

<!-- End Footer -->

<!-- jQuery  -->
<script src="{{ asset('assets-2/js/jquery.min.js') }}"></script>
<script src="{{ asset('assets-2/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('assets-2/js/jquery.slimscroll.js') }}"></script>
<script src="{{ asset('assets-2/js/waves.min.js') }}"></script>
<script src="{{ asset('modal/form.js') }}"></script>

<!-- Responsive-table-->
<script src="../plugins/RWD-Table-Patterns/dist/js/rwd-table.min.js"></script>

<!-- App js -->
<script src="{{ asset('assets-2/js/app.js') }}"></script>
<script>
    $(function () {
        $('.table-responsive').responsiveTable({
            addDisplayAllBtn: 'btn btn-secondary'
        });
    });
</script>
<script type="text/javascript">
    $("#date-picker").persianDatepicker({
        formatDate: "YYYY-MM-DD",
    });

    $(function () {
        $("#date-picker, #span-date-picker").persianDatepicker();
    });
</script>
<script>
    jQuery(document).ready(function ($) {

        $('table.search-tr tbody tr').each(function () {
            $(this).attr('data-search-term', $(this).text().toLowerCase());
            // console.log($('table.search-tr tbody tr').length);
        });
        $('.live-search-box').on('keyup', function () {
            var searchTerm = $(this).val().toLowerCase();
            $('table.search-tr tbody tr').each(function () {
                if ($(this).filter('[data-search-term *= ' + searchTerm + ']').length > 0 || searchTerm.length < 1) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });

        });

    });
</script>
<script>
    function toggle(className, obj) {
        var $input = $(obj);
        if ($input.prop('checked')) $(className).hide();
        else $(className).show();
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        let $messages = $('.form-message');
        setTimeout(function () {
            $messages.hide('ease');
        }, 3000);


        persian = {0: '۰', 1: '۱', 2: '۲', 3: '۳', 4: '۴', 5: '۵', 6: '۶', 7: '۷', 8: '۸', 9: '۹'};

        function traverse(el) {
            if (el.nodeType == 3) {
                var list = el.data.match(/[0-9]/g);
                if (list != null && list.length != 0) {
                    for (var i = 0; i < list.length; i++)
                        el.data = el.data.replace(list[i], persian[list[i]]);
                }
            }
            for (var i = 0; i < el.childNodes.length; i++) {
                traverse(el.childNodes[i]);
            }
        }

        traverse(document.body);

    });


</script>
<script type="text/javascript">
    if (typeof (Storage) !== "undefined") {

        var storedResult = localStorage.getItem("location");
        var storedURL = localStorage.getItem("url");

        if (storedURL !== 'undefined' && storedResult !== null) {


            if (storedResult !== 'undefined' && storedResult !== null) {

                $(window).scrollTop(storedResult);
            }
        }

        $(window).scroll(function () {
            var scrolledDown = window.scrollY;
            var currentUrl = window.location.href;
            localStorage.setItem("location", scrolledDown);
            localStorage.setItem("url", currentUrl);
        });

    } else {
        // No Web Storage Support.
    }
</script>
<script>
    let itemModel = new ItemModel();
    itemModel.setItemID(5);
    Request.send(
        'Repository',
        'Item',
        'fetch',
        function (response) {
            console.log(response);
        },
        itemModel)
</script>


{#<script src="{{ asset('assets/search/js/search.js') }}"></script>#}
{% block javascripts %}
{% endblock %}

<div id="fail_message" class="{{ (app.session.flashBag.peek('f')) ? 'show' : '' }} form-message fail">
    <ul>
        {% for message in app.session.flashBag.get('f') %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
<div id="success_message" class="{{ (app.session.flashBag.peek('s')) ? 'show' : '' }} form-message success">
    <ul>
        {% for message in app.session.flashBag.get('s') %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
</body>
</html>