{% extends 'base.html.twig' %}

{% block title %}{{ 'accounting.gift.card.group.edit.tab.title' | trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-10">
                            <h1>{{ 'accounting.gift.card.group.edit.main.title' | trans }}</h1>
                            <p>{{ 'accounting.gift.card.group.edit.main.description' | trans }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'accounting.gift.card.group.edit.gift.card.group.info.title' | trans }}</h3>
                </div>
                <div class="feeds-panel">
                    <ul class="nav">
                        <li>
                            <span class="time">{{ giftCardGroupModel.giftCardGroupName }}</span>
                            <i class="fa fa-money-bill-alt text-white bg-green"></i>
                            <span class="text">{{ 'accounting.gift.card.group.create.form.input.title.gift.card.name' | trans }}</span>
                        </li>
                        <li>
                            <span class="time">{{ giftCardGroupModel.giftCardGroupPrefix }}</span>
                            <i class="fa fa-money-bill-alt text-white bg-green"></i>
                            <span class="text">{{ 'accounting.gift.card.group.create.form.input.title.prefix' | trans }}</span>
                        </li>
                        <li>
                            <span class="time">{{ giftCardGroupModel.giftCardGroupAmount }}</span>
                            <i class="fa fa-money-bill-alt text-white bg-green"></i>
                            <span class="text">{{ 'accounting.gift.card.group.create.form.input.title.gift.card.amount' | trans }}</span>
                        </li>
                        <li>
                            <span class="time">{{ giftCardGroupModel.giftCardGroupExpiryDate }}</span>
                            <i class="fa fa-hourglass text-white bg-red"></i>
                            <span class="text">{{ 'accounting.gift.card.group.create.form.input.title.expiry.date' | trans }}</span>
                        </li>
                        <li>
                            <span class="time">{{ giftCardGroupModel.giftCardGroupCount }}</span>
                            <i class="fa fa-bars text-white bg-orange"></i>
                            <span class="text">{{ 'accounting.gift.card.group.create.form.input.title.gift.card.count' | trans }}</span>
                        </li>
                        <li>
                            <span class="time">{{ giftCardGroupModel.giftCardGroupLeftCount }}</span>
                            <i class="fa fa-shopping-cart text-white bg-blue"></i>
                            <span class="text">{{ 'accounting.gift.card.group.edit.left.title' | trans }}</span>
                        </li>
                        <li>
                            <span class="time">{{ giftCardGroupModel.giftCardGroupCreatePerson }}</span>
                            <i class="fa fa-user text-white bg-dark"></i>
                            <span class="text">{{ 'general.create.person.title' | trans }}</span>
                        </li>
                        <li>
                            <span class="time">{{ giftCardGroupModel.giftCardGroupCreateDate }}</span>
                            <i class="fa fa-hourglass-start text-white bg-secondary"></i>
                            <span class="text">{{ 'general.create.date.title' | trans }}</span>
                        </li>
                        <li>
                            <span class="time">{{ giftCardGroupModel.giftCardGroupConfirmPerson }}</span>
                            <i class="fa fa-user text-white bg-dark"></i>
                            <span class="text">{{ 'general.confirm.person.title' | trans }}</span>
                        </li>
                        <li>
                            <span class="time">{{ giftCardGroupModel.giftCardGroupConfirmDate }}</span>
                            <i class="fa fa-hourglass-start text-white bg-secondary"></i>
                            <span class="text">{{ 'general.confirm.date.title' | trans }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-2">
            <div class="panel">
                <div class="weather--panel text-white bg-darker">
                    <div class="weather--title">
                        <i class="fa fa-exclamation"></i>
                        <span>Confirm</span>
                    </div>

                    <div class="weather--info">
                        {% if giftCardGroupModel.giftCardGroupStatus.giftCardGroupStatusMachineName == 'requested' %}
                            <a href="{{ path('accounting_gift_card_group_confirm_gift_card_group' , {gift_card_group_id:giftCardGroupModel.giftCardGroupId}) }}"
                               class="fa fa-check text-green"></a>
                        {% elseif giftCardGroupModel.giftCardGroupStatus.giftCardGroupStatusMachineName == 'paused' %}
                            <a href="{{ path('accounting_gift_card_group_confirm_gift_card_group' , {gift_card_group_id:giftCardGroupModel.giftCardGroupId}) }}"
                               class="fa fa-play text-green"></a>
                        {% else %}
                            <a href="{{ path('accounting_gift_card_group_reject_gift_card_group' , {gift_card_group_id:giftCardGroupModel.giftCardGroupId}) }}"
                               class="fa fa-pause text-red"></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="form-group row">
                        <div class="col-4"></div>
                        <div class="col-md-4">
                            <input type="text" placeholder="{{ 'general.search.title' | trans }}" name="text"
                                   class="form-control">
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <!-- Records List Start -->
                    <div class="records--list">
                        <table id="ProvincesList">
                            <thead>
                            <tr>
                                <th scope="col">{{ 'general.name.title' | trans }}</th>
                                <th scope="col">{{ 'general.status.title' | trans }}</th>
                                <th scope="col">{{ 'general.use.person.title' | trans }}</th>
                                <th scope="col">{{ 'general.use.date.title' | trans }}</th>
                                <th scope="col">{{ 'general.action.title' | trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for giftCard in giftCards %}
                                <tr>
                                    <td>{{ giftCard.giftCardSerial }}</td>
                                    <td>
                                        {% if giftCard.giftCardStatus.giftCardStatusMachineName != 'used' %}
                                            <span class="label rounded"
                                                  style="background-color: {{ giftCard.giftCardStatus.giftCardStatusColor }}">
                                            {{ giftCard.giftCardStatus.giftCardStatusName }}
                                        </span>
                                        {% else %}
                                            <span class="label rounded label-gray">{{ 'general.status.used.title' | trans }}</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ giftCard.giftCardUsedPersonFirstName }}{{ giftCard.giftCardUsedPersonLastName }}</td>
                                    <td>{{ giftCard.giftCardUsedDate }}</td>
                                    <td>
                                        {% if giftCard.giftCardStatus.giftCardStatusMachineName != 'used' %}
                                            <a href="{{ path('accounting_gift_card_group_gift_card_status' , {gift_card_id:giftCard.giftCardId , machine_name:giftCard.giftCardStatus.giftCardStatusMachineName , gift_card_group_id:giftCardGroupModel.giftCardGroupId}) }}"
                                               class="{{ (giftCard.giftCardStatus.giftCardStatusMachineName == 'available') ? 'fa fa-ban text-red' : 'fa fa-play text-green' }}"></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- Records List End -->
                </div>
            </div>
        </div>

    </div>
{% endblock %}
