<div class="panel-content">
    <form class="row"
          action="{{ path('repository_person_repository_person_edit' , {id:personModel.id}) }}"
          method="post">
        <div class="col-3">
            <div class="form-group row">
                <div class="col-12">
                    <span class="label-text col-form-label">Province</span>
                    <input type="text" list="provinces" name="provinceName" class="form-control" placeholder="Province"
                           value="{{ locationModel.provinceName }}">
                    <datalist id="provinces">
                        {% for province in provinces %}
                        <option value="{{ province.provinceName }}">
                            {% endfor %}
                    </datalist>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group row">
                <div class="col-12">
                    <span class="label-text col-form-label">City</span>
                    <input type="text" list="cities" name="cityName" class="form-control" placeholder="City"
                           value="{{ locationModel.cityName }}">
                    <datalist id="cities">
                        <option value="city 1">
                        <option value="city 1">
                        <option value="city 1">
                    </datalist>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group row">
                <div class="col-12">
                    <span class="label-text col-form-label">Districts</span>
                    <input type="search" list="districts" name="districtName" class="form-control"
                           placeholder="District" value="{{ locationModel.districtName }}">
                    <datalist id="districts">
                        <option value="1">
                        <option value="2">
                        <option value="3">
                    </datalist>
                </div>

            </div>
        </div>
        <div class="col-3">
            <div class="form-group row">
                <span class="label-text col-md-12 col-form-label ">Postal Code</span>

                <div class="col-md-12">
                    <input type="text" name="postalCode"
                           placeholder="254477788"
                           class="form-control" value="{{ locationModel.postalCode }}">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group row">
                <span class="label-text col-md-12 col-form-label ">Address</span>
                <div class="col-md-12">
                    <input type="text" name="address"
                           placeholder="Address"
                           class="form-control" value="{{ locationModel.address }}">
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="form-group row">
                <span class="label-text col-md-12 col-form-label ">Person</span>
                <div class="col-md-12">
                    <select name="locationContactPersonId" class="form-control">
                        {% for person in persons %}
                            <option value="{{ person.id }}" {{ (person.id == personModel.id) ? 'selected' : '' }}>
                                {{ person.humanName }} {{ person.humanFamily }}
                                | {{ person.mobile }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="col-7">
            <div class="form-group row">
                <span class="label-text col-md-12 col-form-label ">Lat & Lng</span>
                <div class="col-md-12">
                    <input type="text" name="locationGeoPoints"
                           placeholder="Example : 35.68128, 51.42254"
                           class="form-control" value="{{ locationModel.locationGeoPoints }}">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group row">
                <span class="label-text col-md-12 col-form-label ">Google Map</span>
                <div class="col-md-12">
                    <div id="map" style="width: 100%;height: 320px;"></div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <input type="hidden" name="owner_person"
                           class="form-control">
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-block btn-dark rounded"><i class="fa fa-save"></i></button>
                </div>
                <div class="col-4"></div>
            </div>
        </div>

        <div class="col-12">
            <div class="form-group row">
                {% for message in app.flashes('add_address_success') %}
                    <div class="col-md-12 mt-3 text-green"><span
                                class="fa fa-info text-green"></span> {{ message }}</div>
                {% endfor %}
                {% for message in app.flashes('add_address_failed') %}
                    <div class="col-md-12 mt-3 text-red"><span
                                class="fa fa-info text-red"></span> {{ message }}</div>
                {% endfor %}
            </div>
        </div>
    </form>
</div>